@import "../../styles/variables";
@import "../../styles/converter";
@import "../../styles/breakpoint";

.about {
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  font-size: to-rem(18);
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: to-rem(1200);
  padding: to-rem(0 20);
  @include md() {
    padding: to-rem(65 72);
    margin: auto;
  }

  &_header {
    width: 100%;
    max-width: to-rem(600);
    margin: to-rem(100) auto to-rem(50);

    &_image {
      height: to-rem(150);
      width: to-rem(150);
      background-color: $light-bg;
      margin: auto;
      border-radius: to-rem(5);
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: rotateZ(10deg);
      }
    }

    &_title {
      font-style: normal;
      font-weight: 500;
      font-size: to-rem(30);
      margin-top: to-rem(48);
    }
    &_description {
      margin-top: to-rem(16);
    }
    &_email {
      display: block;
      font-size: to-rem(20);
      margin-top: to-rem(48);
    }
  }

  &_content {
    p {
      margin-top: to-rem(40);
    }
  }
}
