@import "../../styles/variables";
@import "../../styles/converter";
@import "../../styles/breakpoint";

.about {
  display: flex;
  flex-direction: column;
  font-size: to-rem(18);
  justify-content: center;
  width: 100%;
  max-width: to-rem(1024);
  padding: to-rem(0 20);
  @include md() {
    padding: to-rem(65 72);
    // margin: auto;
  }

  &_header {
    width: 100%;

    &_image {
      height: to-rem(180);
      width: to-rem(180);
      background-color: $light-bg;
      margin: to-rem(50) auto auto;
      border-radius: to-rem(5);
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      @include md() {
        height: to-rem(250);
        width: to-rem(250);
        margin: to-rem(0) auto;
      }

      &:hover {
        transform: rotateZ(10deg);
      }
    }

    &_title {
      font-style: normal;
      font-weight: 500;
      font-size: to-rem(30);
      margin-top: to-rem(48);
    }
    &_description {
      margin-top: to-rem(16);
    }
    &_email {
      display: block;

      margin-top: to-rem(48);
    }
  }

  &_content {
    p {
      margin-top: to-rem(40);
    }
  }
}
