@import "../../styles/breakpoint";
@import "../../styles/converter";
@import "../../styles/variables";

.blogPost {
  padding: to-rem(40 25);
  transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  @include md() {
    padding: to-rem(80 50);
    height: 100%;
    // margin-left: auto;
    // margin-right: auto;
    display: grid;
    // grid-gap: to-em(30);
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content"
      "footer";
  }

  &__Article {
    // padding: to-em(30);
    line-height: to-em(25) !important;
    @include md() {
      grid-area: content;
      max-width: to-em(800);
      // padding: to-em(50 80);
      margin: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: to-em(10 0);
      // color: $light-blue;
    }
    p,
    ul,
    ol {
      margin-bottom: to-em(20);
      font-weight: 500;
      font-size: to-rem(18);
    }
    ul,
    ol {
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: to-em(40px);
    }
    li > p,
    blockquote > p {
      margin: 0;
    }

    blockquote {
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0;
      margin-inline-end: 0px;
      background-color: $theme-secondary;
      color: $white;
      border-left-color: $theme-tertiary;
      border-left-width: 9px;
      border-left-style: solid;
      padding: to-em(10 20);
      margin-bottom: 30px;
    }

    
    pre {
      margin: to-em(30 0);
      padding: to-em(20);
      border-radius: 10px;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
    }
    main {
      padding: to-em(20 0);
      // border-bottom: 1px solid $light-black;
    }
    &__Footer {
      @include md() {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        max-width: to-em(900);
      }
    }
  }

  &__Nav {
    @include md() {
      grid-area: nav;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: to-em(30);
      height: 100vh;
      border-left: 1px solid $theme-light;
    }
  }
}
