@font-face {
  font-family: GT Walsheim Pro;
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"),
    url("../assets/fonts/GTWalsheimProRegular.woff2") format("woff2"),
    url("../assets/fonts/GTWalsheimProRegular.woff") format("woff"),
    url("../assets/fonts/GTWalsheimProRegular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GT Walsheim Pro;
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimProBold"),
    url("../assets/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("../assets/fonts/GTWalsheimProBold.woff") format("woff"),
    url("../assets/fonts/GTWalsheimProBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
