// Theme colors
$theme-secondary: #2c003e;
$theme-secondary-light: #512b58;
$theme-primary: #ea9085;
$theme-primary-light: #ffa372;
$light-bg: rgba(234, 144, 133, 0.1);
$theme-tertiary: #f2a365;
// General colors
$white: #ffffff;
// $black: #27282f;
// $light-black: #303138;
// $grey: #949495;
// $light-grey: #949495;
// $blue-to-purple: linear-gradient(90deg, #61dafb 0%, #b06ab3 100%);
// $light-blue: #61dafb;
// $light-purple: #b06ab3;
