@import "../../styles/variables";
@import "../../styles/converter";
@import "../../styles/breakpoint";

.homeLayout {
  height: 100vh;
  background: url("../../assets/images/background.png") no-repeat center;
  display: grid;
  grid-template-columns: to-rem(60) 1fr;
  grid-template-areas: "strip content";
  transition: all 0.2s ease-in-out;
  width: 100%;
  @include md() {
    grid-template-columns: to-rem(100) 1fr;
  }
  &__NameStrip {
    &__Wrapper {
      grid-area: strip;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: fixed;
      height: 100vh;
    }

    font-size: to-rem(36);
    -webkit-text-stroke-color: $theme-blue;
    -webkit-text-stroke-width: to-rem(1);
    color: transparent;
    white-space: nowrap;
    writing-mode: vertical-lr;
    @include md() {
      font-size: to-rem(48);
    }
  }
  &__Content {
    max-width: to-rem(1200);
    padding: to-rem(20 10);
    width: 100%;
    grid-area: content;
    display: flex;
    align-items: center;
    p {
      font-size: to-rem(16);
      margin-bottom: to-rem(20);
      @include md() {
        font-size: to-rem(22);
      }
    }
  }
}
