@import "../../styles/variables";
@import "../../styles/converter";
@import "../../styles/breakpoint";

.pageLayout {
  height: 100vh;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &_navBar {
    height: to-rem(70);
    padding: to-rem(0 25);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

    @include md() {
      padding: to-rem(0 50);
    }
  }
  &_Content {
    height: 100vh;
    width: 100%;
    grid-area: content;
    @include md() {
      display: grid;
      grid-template-columns: to-rem(400) 1fr;
    }

    &_logo {
      fill: $theme-light;
    }
  }
}
